body{
    /* align-items: center; */
    font-style: italic;
    position: absolute;
    /* background-color: rgb(168, 150, 150); */
    /* left: 600px; */
    padding: 20px 15px;
    font-size: 20px;
    /* text-align: center; */
    /* left: 50px; */
    /* display: flex; */
    /* justify-content: center; */
}
/* .ha{
    animation: 3s linear 1s infinite alternate slidein;


} */
/* .more-btn{
    background-color: blue;
} */